.Home{
    background-color: #172C5A;
    display: flex;
    flex-direction: row;
    margin-left: 0;

}

.main-section{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    
}
footer{

    margin-top: auto;
}
.profile-button{
    margin-right: 0px;
}

.header{
    margin-right: 10px;
    text-align: right;
    color: white;
}
body{
    margin: 0;
}